*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.main-container{
    background: #3B4B6C;
    color: white;
    padding: 20px 150px;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    min-width: 320px;
}

#header{
    margin-bottom: 120px;
    /* align-items: center; */
}

.logo{
    width: 20%;
    font-size: 30px;
    color:#8fb0d3;
}
.nav-bar{
    width: 45%;
}
.nav-bar li{
    list-style-type: none;
    /* margin-right: 100px; */
    padding: 10px 0px 3px 0px;
    font-weight: bold;
}
.active:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 10px; 
    border-bottom: 3px solid ;
    border-image: linear-gradient(to right, #BEDBE9 ,#4E9BB6) 1; 
    
}
.icons{
   width: 10%;
   display: flex;
}
.menu-icon{
    display: none;
    padding-top: 8px;
    width: 10%;
}

/* .icons{

} */
.bar1, .bar2, .bar3{
    width: 20px;
    height: 3px;
    background: whitesmoke;
    margin: 4px 0;
}

.other-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* .icons i{
padding-top: 10px;
margin-right: 15px;
position: relative; */
/* } */

span.badge{
    position: absolute;
    top: 25px;
    padding: 4px 4px;
    border-radius: 50%;
    background: #4E9BB6;
    width: 10px;
    height: 10px;
    /* color: white; */
}

.bell{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.bell i{
    position: relative;
    margin-right: 4px;
}
.image{
    flex:5;
    /* padding-top: -20px; */
}

.image img{
margin-top: -20px;
width: 100%;
}

.product{
    flex: 5;
    margin-left: 20px;
}

.product-name{
    font-size: 3.5em;
    margin-bottom: 20px;
    line-height: 70px;
}

.price{
    font-size: 2em;
    font-weight: normal;
}
.price span{
            content: "\20A6";
}
hr{
    margin: 20px 0px;
    color:#8fb0d3 ;
    /* border: 0.5px solid#8fb0d3; */
    
}

.product-details{
    font-size: 1em;
    line-height: 32px;
    letter-spacing: 0.4px;
}

.buy{
    padding: 10px;
}

.number{
    font-size:25px;
    font-weight: bold;
    letter-spacing: 15px;
    padding-top: 10px;
}

input[type=button]{
    background: none;
    font-size: 1em;
    padding: 10px;
    border: 3px solid #4E9BB6;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    font-weight:  bold;
    font-family: 'Raleway', sans-serif;
}

/* Responsiveness */
@media only screen and (max-width: 1105px){
    
    .product-name{
        font-size: 3em;
        line-height: 60px;
    }

    .price{
        font-size: 1.8em;
    }

    .product-details{
        font-size: 0.9em;
    }

    .number{
        font-size: 20px;
        letter-spacing: 10px;
    }
    input[type=button]{
        font-size: 0.9em;
        padding: 7px;
    }
}
@media only screen and (max-width: 955px){
    .main-container{
        padding: 20px 100px;
    }

    .icons{
        width: 12%;
    }

    .product-name{
        font-size: 2.5em;
        line-height: 50px;

    }

    .product-details{
        font-size: 0.8em;
    }

    .number{
        font-size: 15px;
        letter-spacing: 8px;
    }
    input[type=button]{
        font-size: 0.8em;
        padding: 6px;
    }
}

@media only screen and (max-width: 635px){
    .main-container{
        height: auto;
        padding: 20px 70px;
    }
    .main-content{
        display: block;
    }

    .nav-bar{
        display: none;
    }

    .icons{
        width: 30%;
        display: flex;
        justify-content:space-between;
    }
    .menu-icon{
        display: block;
    }

    .other-icons{
        width:70%;
    }

    .image{
        width: 80%;
        margin: 0 auto;
    }

    .product-name{
        font-size: 2em;
        line-height: 40px;

    }
    .price{
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 389px){
    .main-container{
        padding: 20px 50px;
    }
    .product-name{
        font-size: 1.5em;
    }

    .price{
        font-size: 1.4em;
    }
}